* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 89px;
  border: 1px;
}

.mainLeft {
  top: 90px;
  width: 250px;
  float: left;
  position: fixed;
  border: 0px;
}
.mainRight {
  top: 90px;
  left: 270px;
  float: right;
  border: 0px;
}

.footer {
  float: both;
  border: 0px;
}